@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center" style="text-align: center; padding: 10px">
    <h1 class="intro">Olá</h1>
    <div>Bem vindo(a) ao nosso site de investimentos em criptomoedas.</div>
    <div>Para o login, acesse <a href="https://localhost:5001/Account/Login">este link</a>.</div>
    <div>Para acessar a base de moedas, acesse <a href="https://localhost:5001/Home/Moedas">este link</a>.</div>
    <div>Para acessar os preços atuais e históricos de uma moeda, acesse <a href="https://localhost:5001/Home/Precos">este link</a>.</div>
</div>
