@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center" style="text-align: center; padding: 10px">
    <h1 class="intro">Olá</h1>
    <p>Para acessar a base de moedas, aperte <a href="https://localhost:5001/Home/Moedas">Aqui</a></p>
    <p>Caso ja saiba o id da moeda que quer comprar, entre <a href="https://localhost:5001/Home/Precos">Aqui</a></p>
</div>
