@{
    ViewData["Title"] = "Página de moedas";
}

<div class="text-center" style="text-align: center; padding: 10px">
    <h1 class="intro">Bem vindo(a) à base de dados de criptomoedas.</h1>
    <h2 class="redir-preco">Para achar o preço da moeda, em real, aperte <a href="https://localhost:5001/Home/Precos">Aqui</a></h2>

    <button id="botaoSubmit" type="button">Clique para pegar a lista de moedas</button>

    <div id="tabela aqui" class="tabela moedas"></div>
</div>

<script type="module" src="~/js/Home/moedas.js" asp-append-version="true"></script>