@{
    ViewData["Title"] = "Página de preços";
}

<div class="text-center" style="text-align: center; padding: 10px">
    <h1 class="intro">Bem vindo(a) à página de preços.</h1>
    <h2 class="redir-moeda">Para encontrar uma moeda, aperte <a href="https://localhost:5001/Home/Moedas">Aqui</a></h2>

    <form>
        <input type="text" id="idMoeda" placeholder="Pesquise pelo id da moeda">
    </form>
        <div id="preco aqui"></div>
    
    <button id="botaoSubmit" type="button">Pesquisar</button>
    
</div>

<script type="module" src="~/js/Home/precos.js" asp-append-version="true"></script>