@{
    ViewData["Title"] = "Página de preços";
}

<div class="text-center" style="text-align: center; padding: 10px">
    <h1 class="intro">Bem vindo(a) à página de preços.</h1>
    <h2 class="redir-moeda">Para encontrar uma moeda, aperte <a href="https://localhost:5001/Home/Moedas">Aqui</a></h2>

    <form>
        <input class="form-control" type="text" id="idMoeda" placeholder="Pesquise pelo id da moeda">
        <div> Para o gráfico histórico, coloque o valor limite do gráfico.</div>
        <input class="form-control" type="text" id="configDias" placeholder="30">
    </form>
    
    <button class="btn btn-primary" id="botaoSubmit" type="button">Pesquisar</button>
    
    <div id="preco aqui"></div>
    <div id="grafico aqui"></div>
    
</div>

<script type="module" src="~/js/Home/precos.js" asp-append-version="true"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>