@using cotacao.Serializers
@model InvestForm

@{
    ViewData["Title"] = "Invest";
}

<div class="text-center">
    <div style="text-align: center; padding: 10px">
        <h1 class="display-4">Novo investimento</h1>
        <p>Compre sua moeda aqui</p>
    </div>
    <div class="row">
        <div style="text-align: left;">
            <form class="form-group" method="post" role="form"
             asp-controller="Invest" asp-action="Form">
                Quantidade a ser adquirida:
                <span class="text-danger h6" asp-validation-for="amount"></span>
                <input class="form-control" type="number" name="amount" placeholder="0.0" asp-for="amount">
                <label for="moedas">Moeda:</label>
                <span class="text-danger h6" asp-validation-for="coin"></span>
                <select class="form-control" id="moedas" name="coin" asp-for="coin"></select>

                <button class="btn btn-primary" type="submit">
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>

<script type="module" src="~/js/Invest/form.js" asp-append-version="true"></script>
