@{
    ViewData["Title"] = "Invest";
}

<div class="text-center">
    <div style="text-align: center; padding: 10px">
        <h1 class="display-4">Novo investimento</h1>
        <p>Compre sua moeda aqui</p>
    </div>
    <div class="row">
        <div style="text-align: left;">
            <form class="form-group">
                Quantidade a ser adquirida:
                <input class="form-control" type="text" name="Amount" placeholder="0.0"><br>
                <label for="moedas">Moeda:</label>
                <select class="form-control" id="moedas">
                </select>
            </form>
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>
</div>

<script type="module" src="~/js/Invest/create.js" asp-append-version="true"></script>
